<div class="container">
<p id="notice"><%= notice %></p>

<p>

  <strong>User:</strong>
  <%= @application.user.email %>
</p>

<p>
  <strong>Name:</strong>
  <%= @application.user.first_name + " " + @application.user.last_name %>
</p>

<p>
  <strong>Video:</strong>
  <br>
  <!-- <%= content_tag(:iframe, '', src: "https://www.youtube.com/embed/V1uDTbb-VfI",
                     width: 560, height: 315, frameborder: 0) %> -->
  <!-- <%= @application.videoURL %> -->

  <%= content_tag(:iframe, '', src: "https://www.youtube.com/embed/" + @application.videoURL.scan(/(.+\=)(.+)/)[0][1] ,
  width: 560, height: 315, frameborder: 0) %>

</p>

<p>
    <strong>Comments:</strong>
    <%= @application.comments %>
</p>

<p>
Application Rating: <%= rating_for @application, "application", disable_after_rate => true %>
</p>

<%= link_to 'Edit', edit_job_application_path(@job, @application) %>
|
<%= link_to 'Back', job_applications_path(@job) %>

</div>
