<p id="notice"><%= notice %></p>

<h1>Listing Jobs</h1>

<form action="" id="searchForm">
<label for="titlefield">Title:</label>
<select id="titlefield">
 <option value=0 selected disabled>select</option>
 <% Job.all.each do |job| %>
          <option value="<%= job.id %>"><%= job.title %></option>
          <% end %>
</select>

<label for="descriptionfield">Description:</label>
<select id="decriptionfield">
 <option value=0 selected disabled>select</option>
 <% Job.all.each do |job| %>
          <option value="<%= job.id %>"><%= job.title %></option>
          <% end %>
</select>

<label for="locationfield">Location:</label>
<select id="locationfield">
 <option value=0 selected disabled>select</option>
 <% Job.all.each do |job| %>
          <option value="<%= job.id %>"><%= job.title %></option>
          <% end %>
</select>

<label for="requirementsfield">Requirements:</label>
<select id="requirementsfield">
 <option value=0 selected disabled>select</option>
 <% Job.all.each do |job| %>
          <option value="<%= job.id %>"><%= job.title %></option>
          <% end %>
</select>

<label for="remunerationfield">Remuneration:</label>
<select id="remunerationfield">
 <option value=0 selected disabled>select</option>
 <% Job.all.each do |job| %>
          <option value="<%= job.id %>"><%= job.remuneration %></option>
          <% end %>
</select>

<button id="searchSubmit">Search</button>
</form>
<br>

<div id="jobList">
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Location</th>
      <th>Requirements</th>
      <th>Remuneration</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @jobs.each do |job| %>
      <tr>
        <td><%= job.title %></td>
        <td><%= job.description %></td>
        <td><%= job.location %></td>
        <td><%= job.requirements %></td>
        <td><%= job.remuneration %></td>
        <td><%= link_to 'Details', job %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
