<p id="notice"><%= notice %></p>

<h1>Listing Jobs</h1>

<div class="keyword_search">
<!--   General Search   -->
  <%= form_tag("/jobs", method: "get") do %>
    <%= label_tag(:q, "General Search:") %>
    <%= text_field_tag(:search_term, params[:search_term]) %>
    <%= submit_tag("Search") %>
</div>

  <!--   Company only Search   -->
    <%= label_tag(:q, "Company Search:") %>
    <%= text_field_tag(:search_company, params[:search_company]) %>
    <%= submit_tag("Search") %>

<!--   Description only Search   -->
  <%= label_tag(:q, "Description Search:") %>
  <%= text_field_tag(:search_description, params[:search_description]) %>
  <%= submit_tag("Search") %>
<% end %>


 <form action="" id="searchForm">
<label for="companyfield">Company:</label>
<select id="companyfield">
 <option value=0 selected disabled>select</option>
 <% Job.all.each do |job| %>
          <option value="<%= job.id %>"><%= job.company %></option>
          <% end %>
</select>


<label for="locationfield">Location:</label>
<select id="locationfield">
 <option value=0 selected disabled>select</option>
 <% Job.all.each do |job| %>
          <option value="<%= job.id %>"><%= job.location %></option>
          <% end %>
</select>

<label for="requirementsfield">Requirements:</label>
<select id="requirementsfield">
 <option value=0 selected disabled>select</option>
 <% Job.all.each do |job| %>
          <option value="<%= job.id %>"><%= job.company %></option>
          <% end %>
</select>

<label for="remunerationfield">Remuneration:</label>
<select id="remunerationfield">
 <option value=0 selected disabled>select</option>
 <option value=1>0</option>


 <% Job.all.each do |job| %>
          <option value="<%= job.id %>"><%= job.remuneration %></option>
          <% end %>
</select>

<button id="searchSubmit">Search</button>
</form>
<br>

<div id="jobList">
<table>
  <thead>
    <tr>
      <th>Company</th>
      <th>Description</th>
      <th>Location</th>
      <th>Requirements</th>
      <th>Remuneration</th>
      <th>Position</th>
      <th>Contract</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @jobs.each do |job| %>
      <tr>
        <td><%= job.company %></td>
        <td><%= job.description %></td>
        <td><%= job.location %></td>
        <td><%= job.requirements %></td>
        <td><%= job.remuneration %></td>
        <td><%= job.position %></td>
        <td><%= job.contract %></td>
        <td><%= link_to 'Details', job %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
