<div class="container">
<% if !flash.empty? %>
<div id="flash">
   <% flash.keys.each do |k| %>
       <div class="<%= k %>">
           <%= flash[k] %>
       </div>
   <% end %>
</div>
<% end %>

<h1><%= @job.position %></h1>

<h3>Location: <%= @job.location %></h3>

<h3>Company: <%= @job.company %> </h3>

<h3>Description: <%= @job.description %> </h3>

<h3>Requirements: <%= @job.requirements %></h3>

<h3>Pay Rate: $<%= @job.remuneration %></h3>

<h3>Contract: <%= @job.contract %></h3>

<% if !flash[:success].present?  %>
   <%= link_to 'Apply Now', new_job_application_path(@job), :class => 'btn btn-primary' %>
<% end %>
</div>
