
<h1>Job company: <%= @job.company %> </h1>

<h2>Description: <%= @job.description %> </h2>

<h2>Location: <%= @job.location %></h2>

<h2>Requirements: <%= @job.requirements %></h2>

<h2>Pay Rate: <%= @job.remuneration %></h2>

<%= link_to 'Apply Now', new_job_application_path(@job) %>
