<h1>EDIT USER</h1>
<%= form_for @user do |f| %>
<%= f.label :email %>
<%= f.text_field :email %>

<%= f.label :password %>
<%= f.password_field :password %>

<%= f.label :password_confirmation %>
<%= f.password_field :password_confirmation %>

<%= f.label :first_name %>
<%= f.text_field :first_name, :required => true %>

<%= f.label :last_name %>
<%= f.text_field :last_name, :required => true %>

<%= f.label :date_of_birth %>
<%= f.date_field :dob, :value => Time.now.strftime('%Y-%m-%d') %>

<%= f.label :address %>
<%= f.text_field :address, :required => true %>

<%= f.label :image%>
<%= f.url_field :image %>

<%= f.submit %>
<% end %>
