<!DOCTYPE html>
<html>
<head>
  <title>Franc</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">

   <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
     <span class="sr-only">Toggle navigation</span>
     <span class="icon-bar"></span>
     <span class="icon-bar"></span>
     <span class="icon-bar"></span>
   </button>
   <a class="navbar-brand" href="/"><i class="fa fa-film" aria-hidden="true"></i> Franc</a>

  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
   <ul class="nav navbar-nav navbar-right">

        <% if @current_user.present? %>

                  <li><%= link_to "Job Search", jobs_path %></li>
                   <li><%= image_tag @current_user.avatar_url(:display), :class => "profile_pic" %></li>
                   <li> <%= link_to "View Your Jobs", users_user_jobs_path %></li>
                   <li><%= link_to "View Applications", users_applications_path %></li>
                    <li><%= link_to "Edit Profile", edit_user_path(@current_user) %></li>
                    <li><%= link_to "Logout #{@current_user.first_name}", login_path, :method => :delete %></li>
                 <% else %>
                   <li><%= link_to "Register", signup_path %></li>
                   <li><%= link_to "Login", login_path %></li>


        <% end %>
   </ul>
  </div>


  </div>
  </nav>





<%= yield %>
<script   src="https://code.jquery.com/jquery-2.2.3.js"   integrity="sha256-laXWtGydpwqJ8JA+X9x2miwmaiKhn8tVmOVEigRNtP4="   crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</body>
</html>
